html {
    font-size: 80%;
}

#main-aside-container {
    width: 100%;
    height: 90vh;
    display: flex;
}


#body {
    font-family: Sahel;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    opacity: 0;
    transition: opacity .5s;
        #main {
            display: inline-block;
            display: none;
            height: 90vh;
            margin-right: 0;
            width: 100%;
            justify-self: stretch;
            align-self: stretch;
            display: flex;
            overflow-y: scroll;
            flex-wrap: wrap;
        
            &.night-mode {
                background-color: rgb(97, 97, 97)!important;
            }   
        
        }
}


.cards {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        width: 22%;
        height: 40%;
        background-color: #577493;
        margin: 2% 5px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // flex: 1 0 21%;

        @media screen and (max-width: 1000px) {
            width: 30%;
        }

        @media screen and (max-width: 600px) {
            width: 96%;
        }

        & > * {
            transition: background-color 1s, color 1.2s;
        }

        &.night-mode {
            
            .datum {
                background-color: #3B8EE7;
            }

            .team-rank {
                background-color: #D7496A;
            }

            .score-section {
                background-color: #C8A33E;
            }
        }

        .datum {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #E3E1A9;
            height: 20%;
            border-radius: 20px;

            // transition: background-color 1.2s;
            // transition: color 1.4s;
        }
        

        .team-rank {

            display: flex;
            width: 50%;
            height: 25%;
            justify-content: space-between;
            align-items: center;
            background-color: #D1634E;
            border-radius: 20px;

            @media screen and (max-width: 600px) {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: yellowgreen;
                height: 20%;
                border-radius: 20px;
            }

            .rank {
                padding-right: 10px;
                font-size: 3rem;
                font-weight: bold;

                @media screen and (max-width: 1000px) {
                    font-size: 2rem;
                }
            }

            .rank-number {
                color: yellow;
                font-size: 3rem;
                padding-left: 10px;
            }
        }


        .score-section {

            background-color: #6AA349;
            display: flex;
            width: 43%;
            height: 25%;
            align-content: center;
            justify-content: center;
            margin: 0 5px;
            padding: 0;

            @media screen and (max-width: 600px) {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: yellowgreen;
                height: 20%;
                border-radius: 20px;
            }

            .key {
                display: none;

                @media screen and (max-width: 600px) {
                    display: block;
                }
            }

            .score {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                font-size: 4rem;
                color: white;
                padding: 30px auto;
                text-align: center;
                border-radius: 15px;

                @media screen and (max-width: 600px) {
                    background-color: inherit;
                    width: 10%;
                    font-size: 2.1rem;
                    color: inherit;
                }
            }
        }

    }

    .card:hover {
        transition: all 0.5s;
        box-shadow: 5px 5px 30px gray;
    }
}

.key {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding-right: 7px;

    @media screen and (max-width: 1000px) {
        font-size: 1.2rem;
    }
}

.value {
    margin-left: 3px;
    text-align: center;

    @media screen and (max-width: 1000px) {
        font-size: 0.8rem;
    }
}

.key-uni {
    @media screen and (max-width: 1000px) {
        font-size: 0.8rem;
    }
}

#data-container {
    width: 80%;
    margin: 80px auto;
    height: auto;
}

table {
    th {
        font-size: 3rem;
        background-color: rgba(0, 119, 255, 0.836);
        border: 1px solid white;
    }

    td {
        font-size: 2rem;
        border: 1px solid rgb(80, 180, 238); 
    }

    tr:nth-of-type(even) {
        background-color: rgba(213, 243, 247, 0.966);
    }

    tr:nth-of-type(odd) {
        background-color: rgb(111, 176, 187);
    }


    text-align: center;
    width: 100%;
}