html {
    font-size: 80%;
}

#main-aside-container {
    width: 100%;
    height: 90vh;
    display: flex;
}

main {
    display: inline-block;
    display: none;
    height: 90vh;
    margin-right: 0;
    width: 100%;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;

}

body {
    font-family: Sahel;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    opacity: 0 !important;
    transition: opacity .5s;
}


.cards {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        width: 22%;
        height: 40%;
        background-color: rebeccapurple;
        margin: 2% 5px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // flex: 1 0 21%;

        @media screen and (max-width: 1000px) {
            width: 30%;
        }

        @media screen and (max-width: 600px) {
            width: 96%;
        }

        .datum {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: yellowgreen;
            height: 20%;
            border-radius: 20px;
        }


        .team-rank {

            display: flex;
            width: 50%;
            height: 25%;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(200, 235, 3);
            border-radius: 20px;

            @media screen and (max-width: 600px) {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: yellowgreen;
                height: 20%;
                border-radius: 20px;
            }

            .rank {
                padding-right: 10px;
                font-size: 3rem;
                font-weight: bold;

                @media screen and (max-width: 1000px) {
                    font-size: 2rem;
                }
            }

            .rank-number {
                font-size: 2rem;
                padding-left: 10px;
            }
        }


        .score-section {

            background-color: rgb(226, 168, 8);
            display: flex;
            width: 43%;
            height: 25%;
            align-content: center;
            justify-content: center;
            margin: 0 5px;
            padding: 0;

            @media screen and (max-width: 600px) {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: yellowgreen;
                height: 20%;
                border-radius: 20px;
            }

            .key {
                display: none;

                @media screen and (max-width: 600px) {
                    display: block;
                }
            }

            .score {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                font-size: 4rem;
                color: white;
                padding: 30px auto;
                text-align: center;
                border-radius: 15px;

                @media screen and (max-width: 600px) {
                    background-color: inherit;
                    width: 10%;
                    font-size: 2.1rem;
                    color: inherit;
                }
            }
        }

    }
}

.key {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding-right: 7px;

    @media screen and (max-width: 1000px) {
        font-size: 1.2rem;
    }
}

.value {
    margin-left: 3px;
    text-align: center;

    @media screen and (max-width: 1000px) {
        font-size: 0.8rem;
    }
}

.key-uni {
    @media screen and (max-width: 1000px) {
        font-size: 0.8rem;
    }
}