nav {
    height: 10vh;
    a img {
        height: 8vh;
    //     width: 10%;
    }
}


#buttons-container {
    position: fixed;
    width: 90%;
    right: 110px;
    display: flex;
    justify-content: flex-start;
    height: 6vh;

    & > button {
        width: 7%;
    }
}

#data-button {
    margin-right: 30px;
}

#login-button {
    // justify-self: end;
    margin-right: auto;
    // align-self: end;
}

.form-inline {
    margin-bottom: auto;
    margin-bottom: auto;
    margin-left: 15%;
    height: 100%;
}

#search {
    height: 65%;
}